<div class="jumbotron">
<div  class="container row-cols-auto">
    <div class="justify-content-md-center mw-100" style="text-align: center;

     font-weight: bold; font-size: 60px;">CART</div>
     <div class="row justify-content-md-center mw-100">
        <div class="col-4" style="text-align: center;
        font-weight: bold; font-size: 15px;">
            
        </div>
        <div class="col-3" style="text-align: center;
        font-weight: bold; font-size: 15px;">
           NAZIV
        </div>
        <div class="col-2" style="text-align: center;
        font-weight: bold; font-size: 15px;">
            PRICE
        </div>
        <div class="col-3" style="text-align: center;
        font-weight: bold; font-size: 15px;">
            KOL
        </div>
        
     </div>
    <div class="row justify-content-md-center mw-100 item-container" *ngFor="let item of cartItems">
        <div class="col-4">
            <img src="{{item.itemImageUrl}}" class="rounded d-block img-fluid">
        </div>
        <div class="col-3" style="background-color: rgba(255,0,0,0.1);">
            {{item.itemName}}
        </div>
        <div class="col-2">
            {{item.itemPrice}} kn
        </div>
        <div class="col-3">
            <div class="plus-minus-container" data-id="{{ item.id }}">
                <input id="minus" (click)="minusFunction(item.id)" class="btn btn-light" type="button" value="-">
                <input class="field" readonly id="count" type="text" size=5 value="{{ item.itemCount }}">
                <input id="plus" (click)="plusFunction(item.id)" class="btn btn-light" type="button" value="+">
            </div>
        </div>
      </div>
      <div class="d-grid gap-2" style="background-color: rgba(255,0,0,0.1);">
         TOTAL PRICE: {{totalPrice}} kn
      </div>
      <div class="d-grid gap-2">
        <button *ngIf="notEmptyFunction()" routerLink="/user" class="btn btn-primary btn-lg" (click)="buy($event)">BUy IT ALL</button> 
    </div>
      <div class="d-grid gap-2">
        <button class="btn btn-secondary btn-lg" routerLink="/shop">Go back to SHOP</button> 
    </div>
</div>
</div>
