<body>
    <div class="container row g-2">
        <div class="border bg-light">
            <div ><span class="">First name: </span>  <span class="user-info-value">  {{ user.firstName}} </span></div>
            <div><span class="">Last name: </span> <span class="user-info-value"> {{ user.lastName}} </span></div>
        </div>

        <div class="border bg-light">
            <div class="h4">
                Previous orders:
            </div>
                <div>
                   <!-- <div class="types">
                        <div>Item:</div>
                        <div>Price (per item):</div>
                        <div>Quantity:</div>
                    </div>
                -->
                    <div class="orders" *ngFor="let order of orderList">
                        <!-- <div>{{ order[0] }}</div>
                        <div>{{ order[1] }}</div>
                        <div>{{ order[2] }}</div>
                        <div>{{ order[3]}} </div> -->
                        {{ order.itemName }}
                    </div>
                </div>  
        </div>
    </div>
</body>